<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ solid.css("kube.minified") }}
{{ solid.css("master") }}
<link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css' />
