<header id="header">
  <h1><a href="{{ solid.shop_url }}">{{ solid.shop_name }}</a></h1>
    <nav id="nav">
      <ul>
      {% for page in page.getList() %}
      <li><a href="{{ page.url }}" title="{{ page.name }}">{{ page.name }}</a></li>
      {% endfor %}
        
        <li><a href="/contact" title="Get in touch">Contact Us</a></li>  
    </ul>
    </nav>
</header>
<div class="row">
  
  
  <div id="cart_small" class="half">
    	{% set cart = cart.get() %}
  		{% if cart.items_quantity == 0 %}
    <em><mark>Your cart is empty</mark></em>
        {% elseif cart.items_quantity == 1 %}
        <a title="View shopping cart" href="{{ solid.shop_url }}/cart">
        		<em>You have {{ cart.items_quantity }} item in your cart</em>
        </a>
        {% else %}
        <a title="View shopping cart" href="{{ solid.shop_url }}/cart">
        		<em>You have {{ cart.items_quantity }} items in your cart</em>
        </a>
        {% endif %}				    
  </div>
  
  
  <div id="search" class="half">
	<form class="forms" action="/search" method="post">
    <ul>
          <li>
               <label for="search" class="bold" style="display:inline;">Search</label>
               <input type="text" name="query" class="input-search" id="search" /> 
               <button class="btn btn-round">Search</button>
          </li>
        </ul>
    </form>
  </div>
  
  
  
  
</div>