<aside class="quarter">
	<div class="inner">
				<h6>Browse by category</h6>
						<nav id="navside">
						  
                        <ul>
                          {% for cat in category.getList({order:"name"}) %}      
                         <li><a href="{{ cat.url }}" title="{{ cat.name }}">{{ cat.name }}</a>
                          {% if cat.subcategories|length > 0 %}
                           <ul>
                             {% for subcat in cat.subcategories %}
                                <li>
                                  <a href="{{ subcat.url }}" title="{{ subcat.name }}">{{ subcat.name }}</a>
                          
                                  {% if subcat.subcategories|length > 0 %}
                                  <ul>
                                       {% for subcat2 in subcat.subcategories %}
                                          <li><a href="{{ subcat2.url }}" title="{{ subcat2.name }}">{{ subcat2.name }}</a></li>
                                       {% endfor %}
                                  </ul>
                                  {% endif %}        
                                </li>
                                 
                             {% endfor %}
                            </ul>
                           {% endif %}
                         </li> 
                        {% endfor %}
                      </ul>     
				</nav>	
			</div>								
</aside>