<!-- you can customize this via http://sharethis.com/ -->
<div class="row">
  <span class='st_facebook_hcount' displayText='Facebook'></span>
  <span class='st_twitter_hcount' displayText='Tweet'></span>
  <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
  <span class='st_pinterest_hcount' displayText='Pinterest'></span>
  
  <!--
  <span class='st_email_hcount' displayText='Email'></span>
  <span class='st_sharethis_hcount' displayText='ShareThis'></span>
  <span class='st_digg_hcount' displayText='Digg'></span>
  <span class='st_evernote_hcount' displayText='Evernote'></span>
  <span class='st_facebook_hcount' displayText='Facebook'></span>
  <span class='st_blogger_hcount' displayText='Blogger'></span>
  <span class='st_delicious_hcount' displayText='Delicious'></span>
  <span class='st_yammer_hcount' displayText='Yammer'></span>
  <span class='st_wordpress_hcount' displayText='WordPress'></span>
  <span class='st_tumblr_hcount' displayText='Tumblr'></span>
  <span class='st_technorati_hcount' displayText='Technorati'></span>
  <span class='st_typepad_hcount' displayText='TypePad'></span>
  <span class='st_reddit_hcount' displayText='Reddit'></span>
  <span class='st_stumbleupon_hcount' displayText='StumbleUpon'></span>
  <span class='st_twitter_hcount' displayText='Tweet'></span>
  <span class='st_orkut_hcount' displayText='Orkut'></span>
  <span class='st_googleplus_hcount' displayText='Google +'></span>
  <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
  -->
</div>