<!DOCTYPE html>
<html>
<head>
  <title>Cart - {{ solid.shop_name }}</title>
  {{ solid.embed("head") }}
</head>
<body>
  <div class="wrapper">
  
    {{ solid.embed("header") }}
    
   
    <div id="main">
			<div class="row">
                  
                 <h2>Your Cart</h2>
                  <div class="shoppingcartlarge">  
                  {% set cart = cart.get() %}
                  <form action="" method="post">
                  <table class="width-100 striped">
                    <thead class="thead-black">
                        <tr>
                          <th>&nbsp;</th>
                          <th>Item</th>
                          <th>Price</th>
                          <th>Qty</th>
                          <th>Sub-total</th>
                          <th>Remove</th>
                      </tr>
                    </thead>
                   
                    <tbody>
                      {% for item in cart.items %}
                      
                      <tr>
                        <td>
                          {% if item.thumbnail %}
                          <a href="{{ item.url }}">
                            <img width="20" height="20" src="{{ item.thumbnail }}" />
                          </a>
                          {% else %}
                          <a href="{{ item.url }}">
                          	<img width="20" height="20" src="https://dummyimages.com/20x20/000000/ffffff.png&text={{ loop.index }}" />
                          </a>
                          {% endif %}</td>
                        <td>
                          <a href="{{ item.url }}" title="{{ item.name }}">{{ item.name }}</a><br />
                          {% for variant in item.variants %}
                          <span>{{ variant.name }} : {{ variant.value }}</span><br />
                          {% endfor %}
                        </td>
                        <td>{{ item.price|currency("symbol") }}</td>
                        <td><input style="text-align:right;" type="text" size="3" name="quantity_{{ item.id }}" value="{{ item.quantity }}" /></td>
                        <td>{{ item.price_total|currency("symbol") }}</td>
                        <td>
                          <a class="linkRemoveFromCart" href="/cart/remove/{{item.id}}" title="Remove From Cart" rel="{{ item.id }}">Remove</a>
                        </td>  
                      </tr>
                      
                      {% else %}
                      <tr>
                        <td colspan="9">
                          Your cart is empty. Treat yourself and
                          <a href="{{ solid.shop_url }}">continue shopping</a>?
                        </td>
                      </tr>
                      {% endfor %}
                      
                      {% if cart.items_quantity > 0 %}
                      {% if cart.tax_setting == "incl" %}
                      <tr>
                        <td colspan="6">Taxes are included in all prices</td>
                      </tr>
                      {% endif %}
                      
                      <tr>
                        <td colspan="5">Total items</td>
                        <td>{{ cart.items_quantity }}</td>
                      </tr>
                      
                      {% if cart.tax_setting == "excl" %}
                      
                      <tr>
                        <td colspan="5">Subtotal</td>
                        <td>{{ cart.items_price_total|currency("symbol") }}</td>
                      </tr>
                      
                      <tr>
                        <td colspan="5">Taxes</td>
                        <td>{{ cart.items_tax|currency("symbol") }} {{ item.tax_setting }}</td>
                      </tr>
                      
                      {% endif %}
                   
                      <tr>
                        <td colspan="5">Shipping total</td>
                        <td>{{ cart.shipping_total|currency("symbol") }}</td>
                      </tr>
                      
                      <tr>
                        <td colspan="5">Grand total</td>
                        <td><mark>{{ cart.total|currency("symbol") }}</mark></td>
                      </tr>
                      {% endif %}
                       
                    </tbody>
                  </table>
                            
                    
                    <div class="row">
                    <label for="cbocountry">Ship to</label>:  {{ solid.htmlShippingCountries() }}  
                    </div>
                    
                    <div class="row">
                  	<input type="submit" value="Update Cart" class="btn" name="btnupdate" />  
                  	<input type="submit" value="Checkout" class="btn" name="btncheckout" /> 
                    </div>
                  
                    </form>
                  </div>
                    			
             
		</div><!-- end row -->
		
    	
		<footer id="footer">&copy; {{ solid.shop_name }}</footer>
              
              
  
    </div><!-- end main -->
    
  </div><!-- end wrapper -->
  
</body>
</html>