<!DOCTYPE html>
<html>
<head>
  <title>{{ solid.shop_name }}</title>
  {{ solid.embed("head") }}
</head>
<body>
  
   <!-- 
    THIS THEME IS BASED ON KUBE FRAMEWORK
	DOCUMENTATION CAN BE FOUND AT http://imperavi.com/kube/
	THIS THEME IS NOT A FINAL DESIGN, JUST A VANILLA THEME TO GET YOU STARTED QUICKLY
   -->  
  
  <div class="wrapper">
  
    {{ solid.embed("header") }}
       
    <div id="main">
			<div class="row">
				
               {{ solid.embed("sidebar") }}
              
                <div class="threequarter">				
					
                  <ul id="blocks" class="block-four">
                   {% set products = product.getList({"pagination":"true", "count":16, "order": "date_modified:desc"}) %}
                   {% for p in products %}
                   
                    <li{% if loop.index0%4 == 0 %} class="clearleft"{% endif %}>
                     <div class="inner">
                     <h6>{{ p.name }}</h6>  
                      <figure>
                      {% if p.thumbnail %}
                          <a href="{{ p.url }}" title="{{ p.name }}">
                            <img class="thumbnail" src="{{ p.images[0].full }}" alt="{{ p.name }}" />
                          </a>
                      {% else %}
                          
                          <a href="{{ p.url }}" title="{{ p.name }}">
                            <img src="https://dummyimages.com/660x440/000000/ffffff.png&text=x" />
                          </a>
                          
                      {% endif %}
                       
                       <figcaption>{{ p.price|currency("symbol") }}</figcaption>
                       </figure>
                          
                       </div>
                   </li>
                             
                   {% else %}
                <li>All out of stock!</li>
                   {% endfor %}
              </ul>
                  
                  
                 {{ solid.embed("pagination") }}
                   
				</div>		
				
			</div><!-- end row -->
		</div><!-- end main -->
		
		
		{{ solid.embed("footer") }}
                     
    
  </div>
</body>
</html>