{% set p = page.get() %}
<!DOCTYPE html>
<html>
<head>
  <title>{{ p.name }} - {{ solid.shop_name }}</title>
  {{ solid.embed("head") }}
</head>
<body>
  <div class="wrapper">
  
    {{ solid.embed("header") }}
    
   
    <div id="main">
			<div class="row">
				
              	{{ solid.embed("sidebar") }}
              
              	<article class="threequarter">				
                  <h2>{{ p.name }}</h2>
                  <div class="page_description">
                    {{ p.content }}
                  </div>
				</article>		
				
              	
              
			</div>
		</div>
		
    	
	
		{{ solid.embed("footer") }}
              
              
  
    
    
  </div>
  
</body>
</html>