{% set p = product.get() %}
<!DOCTYPE html>
<html>
<head>
  <title>{{ p.name }} - {{ solid.shop_name }}</title>
  {{ solid.embed("head") }}
  
  
  <!-- 
   HEADS UP! 
   If you decide to use ShareThis.com buttons, you should visit http://sharethis.com
   and create your own accounts. That way, you will receive your own publisher ID, 
   which you need to use in the last script below.
   Replace YOURKEYHERE with your own ShareThis.com key
  -->
  <script type="text/javascript">var switchTo5x=true;</script>	
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "YOURKEYHERE"});</script>
  <!-- end sharethis -->
  
</head>
<body>
  <div class="wrapper">
  
    {{ solid.embed("header") }}
    
   
    <div id="main">
			<div class="row">
			
              {{ solid.embed("sidebar") }}
              
              <div class="threequarter">
              <article>				
                  
                  <form action="/cart/add/{{p.id}}" method="post" class="forms">
                    
                  <h2>{{ p.name }} <mark id="placeholder_price">{{ p.price|currency("symbol") }}</mark></h2>
                  
                  {{ solid.embed("socialbuttons") }}  
                    
                  <div class="product_detail">
                  {{ p.description }}
                  </div>
                  
                    
                  <ul>
                  {% for image in p.images %}
                        <li>
                        <a href="{{ image.full }}" title="Image of {{ product.name }}">
                          <img src="{{ image.full}}" alt="Click to enlarge image" />
                        </a>
                    	</li>
                    {% else %}
                    	<li>
                        <a href="#" title="Image of {{ p.name }}">
                          <img src="https://dummyimages.com/742x495/000000/ffffff.png&amp;text=x" alt="Click to enlarge image" />
                        </a>
                    	</li>
                  {% endfor %}  
                  </ul>  
                    
                  
                  <ul>  
                    {% if p.variant_combinations|length > 0 %}  
                    <li>  
                    	<div id="placeholder_variants" class="variants">  
                        <label for="variant_combination">Select a combination</label>
                        <select id="variant_combination" name="variant_combination">
                           {% for variant_combination in p.variant_combinations  %}
                           <option value="{{ variant_combination.id }}">
                             {{ variant_combination.name }} ({{ variant_combination.price|currency("symbol") }})
                            </option>
                           {% endfor %}
                        </select>
                    	</div>   
                      </li>
                    
                    {% endif %}  
                  
                  	<li><input type="submit" class="btn" value="Add to cart" id="btnSubmit" /></li>
                  </ul>
                  </form>
                    
				</article>		
				
              	<h3>Products with the same tags</h3>
                
                 
                 
                 {% set products_related = product.getList({"tag":p.tags, "pagination":"true", "count":12, "order": "date_modified:desc"}) %}
                 {% if products_related|length > 0 %}
                     <ul id="blocks" class="block-four">
                     {% for p in products_related %}
                     
                     <li>
                       <div class="inner">
                        {% if p.thumbnail %}
                         <a href="{{ p.url }}" title="{{ p.name }}">
                              <img class="thumbnail" src="{{ p.thumbnail }}" alt="{{ p.name }}" />
                         </a>
                        {% else %}
                         <a href="{{ p.url }}" title="{{ p.name }}">
                           <img src="https://dummyimages.com/660x440/000000/ffffff.png&text={{ loop.index }}" />
                         </a>
                        {% endif %}
                       </div>
                     </li>
            
                    {% endfor %}
                     
                	</ul>
                
                 {% else %}
                 	<em>There are no related products</em>
                 {% endif %}
            </ul>
              
              </div><!-- end threequarter -->
              
			</div><!-- end row -->
		</div><!-- end main -->
		
    	
    	
		
	
		{{ solid.embed("footer") }}
              
              
  		<script type="text/javascript" src="https://cdn.solidshops.com/js/solid.js"></script>
        <script type="text/javascript">
            //FOR DOCUMENTATION, SEE HERE: https://www.solidshops.com/help/javascriptlibrary
          
          	SolidJS.symbol = "{{ solid.currency_symbol }} ";
            SolidJS.thousand = "{{ solid.currency_thousand }}";
            SolidJS.decimal = "{{ solid.currency_decimal }}"; 
          
          	var options = new Array();
            var product = {{ p|json }};
          	options['placeholder_price'] = "placeholder_price"; 
            options['placeholder_variants'] = "placeholder_variants";          
          
            SolidJS.enhanceVariants(product,options);
        </script>
    
    
  </div><!-- end wrapper -->
  
</body>
</html>