<!DOCTYPE html>
<html>
<head>
    <title>Search - {{ solid.shop_name }}</title>
  	{{ solid.embed("head") }}
</head>
<body>
  <div class="wrapper">
  
    {{ solid.embed("header") }}
    
   
    <div id="main">
			<div class="row">
			
              {{ solid.embed("sidebar") }}
              
              <div class="threequarter">	
                
                
                  {% set products = product.getList({"count":"12", "search": solid.getUrlsegment(2)}) %}
                  {% set hits = products|length %}
               	   <h2><em>We found {{ hits }} result{% if hits != 1 %}s{% endif %}</em></h2>
                	{% if hits > 0 %}
                    <ul id="blocks" class="block-four">
                     
                     {% for p in products %}
                     
                     <li{% if loop.index0%4 == 0 %} class="clearleft"{% endif %}>
                       <div class="inner">
                         <h6>{{ p.name }}</h6>
                         <figure>
                        {% if p.thumbnail %}
                         	<a href="{{ p.url }}" title="{{ p.name }}">
                              <img class="thumbnail" src="{{ p.images[0].full }}" alt="{{ p.name }}" />
                            </a>
                        {% else %}
                            <a href="{{ p.url }}" title="{{ p.name }}">
                              <img src="https://dummyimages.com/660x440/000000/ffffff.png&text=x" />
                         	</a>
                        {% endif %}
                           <figcaption>{{ p.price|currency("symbol") }}</figcaption>
                         </figure>
                       </div>
                     </li>
                     
                     {% endfor %}
                	</ul>
                    {% else %}
                 	 <em>No products here!</em>
                    {% endif %}
                
                
                    {{ solid.embed("pagination") }}
                  
				</div><!-- end threequarter -->
				
                     
              
			</div><!-- end row -->
		</div><!-- end main -->
		
		
	
		{{ solid.embed("footer") }}          
              
  
    
    
  </div>
  
</body>
</html>